.outer-paper {
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    width: 60%;
  }
  
  
  .card-content{
    margin:10px;
    height:100px;
  }
  .student-card {
    margin: 10px 10px 50px 50px;
    
  }
  
  #progressbar {
    background-color: black;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
  }
  
  #progressbar > div {
     background-color: orange;
     width: 40%; /* Adjust with JavaScript */
     height: 20px;
     border-radius: 10px;
  }