.color-red{
    color:green;
    width:'100px'
}

.outer-paper {
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    width: 60%;
  }
  
  
  .card-content{
    margin:10px;
    height:100px;
  }
  .student-card {
    margin: 10px 10px 50px 50px;
    
  }
  
  #progressbar {
    background-color: black;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
  }
  
  #progressbar > div {
     background-color: orange;
     width: 40%; /* Adjust with JavaScript */
     height: 20px;
     border-radius: 10px;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 14px;
  }
  
  .center-card{
    height:200px;
    margin: auto;
    width: 50%;
    border: 3px;
   }

  .redButton{
    height: 25px;
    width: 60px;
    background-color: red;
    color:red;
  }
  
  .yellowButton{
    height: 25px;
    width: 60px;
    background-color: yellow
  }

  .greenButton{
    height: 25px;
    width: 60px;
    background-color: green
  }

  .comment-field{
    height:200px;
    width:700px;
  }

  .save-valuation{
     margin-top:1000px
  }

  .redProgressBar{
    height: 25px;
    width: 50%;
    border: 10px;
    border-radius: 9px;
  }

.yellowProgressBar{
    height: 25px;
    width: 50%;
     border: 10px;
    border-radius: 9px;
    
  }

  .greenProgressBar{
    height: 25px;
    width: 50%;
    border: 10px;
    border-radius: 9px;
   }

.yellowProgressBar::-webkit-progress-bar { background: gray; }

.yellowProgressBar::-webkit-progress-value {  
	background-color: yellow;
}

.greenProgressBar::-webkit-progress-bar { background:gray; }

.greenProgressBar::-webkit-progress-value {  
	background-color: green;
}

.redProgressBar::-webkit-progress-bar { background:gray; }

.redProgressBar::-webkit-progress-value {  
	background-color:red;
}